{% extends 'main/layout.html' %}

{% block title %}{{ article.title }}{% endblock %}

{% block content %}
<div class="main">
        <h1>{{ article.title }}</h1>
        <p>{{ article.date }} at {{ article.time }}</p>
        <p>{{ article.full_text }}</p>

        {% if user.is_authenticated == True %}
        <a href="{% url 'article-delete' article.id %}" class="btn btn-danger">Delete</a>
        <a href="{% url 'article-edit' article.id %}" class="btn btn-warning">Edit</a>
        {% endif %}
</div>
{% endblock %}