{% extends 'main/layout.html' %}

{% block title %}Edit article{% endblock %}

{% block content %}
<div class="main">
    <h1>Edit article</h1>

    <form method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form.title }}<br>
        {{ form.preview }}<br>
        {{ form.full_text }}<br>
        {{ form.date }}<br>
        {{ form.time }}<br>
        {{ form.image }}<br><br>

        <span>{{ error }}</span>

        <!-- <input type="date" class="form-control"><br> -->

        <button class="btn btn-warning" type="submit">Update</button>
    </form>
</div>
{% endblock %}