{% extends 'main/layout.html' %}

{% block title %}{{ title }}{% endblock %}

{% block content %}
<div class="main">
        <h1>{{ title }}</h1>

        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Aperiam, blanditiis voluptatibus fuga unde perferendis ipsum ullam eum. Numquam, ab ipsum eveniet possimus delectus iure, similique quae, dolores repudiandae soluta dolorem!</p><br>
        
        <!-- <button class="btn btn-warning">{% filter upper %}Something{% endfilter %}</button><br><br> -->

        <form class="search-form input-group rounded" method="POST" action="{% url 'search-articles' %}">
                {% csrf_token %}

                <input type="search" class="form-control rounded" placeholder="Search Articles" aria-label="Search" aria-describedby="search-addon" name="searched" />
                <button class="btn btn-outline-primary" id="search-addon" type="submit">
                  <i class="fas fa-search"></i>
                </button>
        </form><br>



{% if news %}
        <div class="grid-container">
                {% for el in news %}
                        <div class="grid-item alert alert-warning">
                                <a href="{% url 'article-detail' el.id %}" class="btn btn-warning btn-title">
                                        <h3>{{ el.title }}</h3>
                                </a>

                                <a href="{% url 'article-detail' el.id %}" class="btn btn-warning btn-img">
                                {% if el.image %}
                                <img src="{{ el.image.url }}" width="250" alt="image">
                                {% else %}
                                Read more
                                {% endif %}
                                <br> 
                                </a>
                        </div>
                {% endfor %}
        </div>

        {% else %}
        <p>No news!</p>                
{% endif %}
</div>

{% endblock %}