body {
    background: rgb(57, 60, 60);color: #d6d6d9;
}

aside {
    float: right;
    background: orange;
    width: 20%;
    padding: 2%;
    height: 100vh;
    color: #fff;
    border-right: 6px solid #333534;
    overflow: auto; 
}

aside img {
    max-width: 75px;
}

aside ul {
    list-style: none;
    padding-left: 0;
}

aside ul.auth {
    position: absolute;
    bottom: 30px;
}

aside ul.auth .auth-btn {
    color: #333534;
    padding: 12px 20px;
    border: 1px solid #333534;
    text-decoration: none;
}

aside ul.auth .auth-btn:hover {
    background: rgba(0, 0, 0, 0.1);
}

aside ul.auth .signup-btn.auth-btn {
    color: azure;
    background-color: #333534;
    margin-left: 10px;
}

aside ul.auth .signup-btn.auth-btn:hover {
    background: #414342;
}

aside ul.auth .login-btn {
    padding: 12px 18px;
}

aside .menu a {
    display: block;
    font-size: 22px;
    margin-top: 40px;
    color: #040404;
    text-decoration: none;
}

aside .menu li {
    transition: transform .8s ease;
}

aside .menu a:hover, aside .menu li {
    transform: scale(1.05);
}

main {
    width: 80%;
    float: left;
    margin-top: 45px;
    text-align: center;

}

main .main h1,
div.about h1 {
    font-size: 45px;
}

main .main p,
div.about p {
    max-width: 400px;
    margin: 20px auto;
}

main .main .search-form {
    width: 98%;
    margin: 0 10px;
}

main .main .grid-container {
    display: grid;
    grid-template-columns: auto auto auto;
    padding: 10px;
  }

main .main .grid-item {
    background-color: rgba(255, 255, 255, 0.8);
    border: 1px solid rgba(0, 0, 0, 0.8);
    padding: 20px;
    margin: 5px;
    text-align: center;
  }

main .main .grid-item h3 {
    font-size: 20px;
}

main .grid-item a.btn-warning {
    --bs-btn-bg: transparent;
    border-width: 2px;
}

main .grid-item a.btn-warning.btn-title {
    background-color: transparent;
    border: none;
}

main .grid-item a.btn-warning.btn-title:hover {
    --bs-btn-bg: transparent;
    border: none;
}

main .grid-item:hover a.btn-warning.btn-img {
    background-color: #ffcd39;
}

main .main .search-link {
    font-size: 20px;
    color: #6dcded;
}

main .main .search-link:hover {
    color: #308dac;
}

form {
    width: 75%;
    position: relative;
    margin:auto;
}

main .news-main h1 {
    margin-bottom: 30px;
    margin-left: 20px;
    text-align: left;
    font-size: 24px;
}

main .news-main div.alert-warning {
    --bs-alert-bg: #dad9d7;
    width: 75%;
    margin: auto;
    margin-bottom: 20px;
}

main .news-main .posted-date {
    display: block;
    text-align: right;
}

ul.my-dashboard {
    text-align: left;
    list-style: none;
}